.index-img {
	width: 100%;
	height: calc(100vh - 64px);
	img {
		object-fit: cover;
	}

	.v-responsive__content {
		display: flex;
		justify-content: center;
	}

	&__credit {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: .2rem;
		font-size: .8rem;
		color: white;
		a {
			color: white;
		}
	}

	&__content {
		position: relative;
		&__heading {
			text-align: center;
			margin-top: 4rem;
			font-size: 3rem;
			font-weight: 600;
			color: black;
			line-height: 1.2;
		}
		&__subheading {
			text-align: center;
			margin-top: 2rem;
			font-size: 1.6rem;
			font-weight: 500;
			color: #545454;
			line-height: 1.2;
		}
		&__form {
			padding: 1rem;
			margin-top: 2rem;
			max-width: 600px;
			margin-inline: auto;
		}
		&__copyright {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}
	}
}
.index {
	&__info {
		text-align: center;
		padding-block: 4rem;
		font-size: 2.5rem;
		font-weight: 600;
		color: black;
		line-height: 1.2;
		max-width: 700px;
		margin: 0 auto;
	}
}
.cities {
	margin-block: 6rem;
	display: grid;
	grid-template-columns: 40% 60%;
	height: 90vh;
	&__bg {
		transition: opacity 0.5s ease-in-out;
	}
	&__left {
		padding: clamp(3rem, 8vw, 10rem) 2rem 2rem clamp(3rem, 8vw, 10rem);
	}
	&__right {
		h1 {
			font-weight: normal;
			text-decoration: underline;
		}
		.v-img {
			padding: 4rem 1rem 2rem 3rem !important;
			h2 {
				color: white;
				margin-bottom: 1rem;
			}
		}
	}
	&__group {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
	&__city {
		font-size: 2rem;
		font-weight: 600;
		border-radius: 4px;
		background: white;
		padding: .2rem .5rem;
		text-decoration: none;
		&:hover {
			box-shadow: 0 5px 5px -3px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 8px 10px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 3px 14px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
		}
		img {
			border-radius: 4px;
			width: 2rem;
			height: 2rem;
			object-fit: cover;
			margin-right: .2rem;
			margin-bottom: -.2rem;
		}
		.v-chip.v-chip--size-large {
			font-size: 1.6rem;
			font-weight: bold;
			padding: 1.6rem 1rem;
		}
	}
}
.services {
	margin-block: 6rem;
	padding-block: 2rem 4rem;
	&__title {
		text-align: center;
		h1 {
			font-size: 3rem;
			font-weight: 600;
			color: black;
			line-height: 1.2;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.2rem;
			color: #545454;
			line-height: 1.2;
		}
	}
	&__list {
		display: flex;
		gap: 1rem;
		justify-content: center;
		&__heading {
			h2 {
				font-size: 1.5rem;
				font-weight: 600;
				color: black;
				line-height: 1.5rem;
				margin-bottom: .5rem;
			}
			p {
				font-size: 1.2rem;
				color: #545454;
				line-height: 1.4 !important;
			}
		}
		.v-list-item-title {
			white-space: normal;
			font-size: 1.1rem;
		}
		.v-list-item__prepend {
			i {
				font-size: 2rem;
			}
			.v-list-item__spacer {
				width: 12px !important;
			}
		}

	}
	&__item {
		&:hover {
			box-shadow: 0 3px 5px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
			0px 6px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
			0px 1px 18px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
		}
	}
}
.values {
	text-align: center;
	padding-block: 4rem;
	font-weight: 600;
	color: white;
	line-height: 1.2;
	background-color: #08318c;
	.uppercase {
		text-transform: uppercase;
	}
	> * {
		margin-bottom: 1rem;
	}
	.v-btn {
		margin-top: 1rem;
	}
}
.newsroom {
	text-align: center;
	padding-block: 5rem;
	h3 {
		font-size: 1.4rem;
		font-weight: bold;
		color: black;
		line-height: 1.2;
		margin-bottom: 1rem;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
		margin-block: 2rem;
	}
}
.search {
	text-align: center;
	padding-block: 10rem;
	background: #d2d2d2;
	h2 {
		font-size: 2.5rem;
		line-height: 2.5rem;
		margin-bottom: .5rem;
	}
}
.explore {
	padding : 4rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
	h1 {
		margin-bottom: 1rem;
	}
	h4 {
		font-size: 1.4rem;
		font-weight: 500;
		color: black;
		line-height: 1.2;
	}
}
.about {
	max-width: 1400px;
	margin-inline: auto;
	display: grid;
	grid-template-columns: 70% 30%;
	padding: .8rem;
	background-color: white;
	border-radius: 8px;
	&--title {
		font-size: 1.6rem;
		line-height: 1.6rem;
		padding: 1rem;
	}
	&--subtitle {
		font-size: 1.2rem;
		line-height: 1.4rem;
		letter-spacing: normal;
		padding: 1rem;
	}
	&--list {
		&--item {
			display: flex;
			align-items: flex-stat;
			gap: 1rem;
			margin-bottom: 1rem;
		}
	  &--title {
			font-size: 1.4rem;
			line-height: 1.4rem;
			margin-bottom: .5rem;
			font-weight: bold;
		}
		&--subtitle {
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
	}
}
