.room {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
	> div {
		margin-bottom: 3rem;
		p, h2 { margin-bottom: .5rem;}
	}
	&--toolbar {
		display: flex;
		gap: .5rem;
		align-items: center;
		margin-block: 1rem;
	}
	&--headline {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-block: 1rem;
		&--overline {
			font-size: 0.75rem;
			font-weight: 500;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: var(--color-text-secondary);
		}
		h1 {
			font-size: 2.5rem;
		}
		p {
			font-weight: 500;
		}
		&--rating {
			background: #1713ae;
			color: #fff;
			padding: .15rem 0.25rem;
			border-radius: 0.25rem;
		}
	}
	&--content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 1rem;
	}
	&--details {
		> div {
			margin-bottom: 1rem;
		}
	}
	&--map {
		height: 10rem;
		border-radius: 0.5rem;
	}
	&--tour {
		&--input, &--button {
			margin-bottom: .5rem;
		}
	}
	&--contact {
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&--location {
		p {font-weight: 500; margin-block: .5rem;}
	}
	&--description {
		&--features {
			display: flex;
			flex-wrap: wrap;
			gap: .5rem;
			margin-bottom: 1rem;
			.v-list-item {
				flex-basis: 30%;
			}
		}
	}
	&--amenities {
		&--inside {
			margin-bottom: 1rem;
		}
		&--inside, &--outside {
			display: flex;
			flex-wrap: wrap;
		}
		&--item {
			display: flex;
			gap: .5rem;
			align-items: center;
			padding: .5rem;
			flex-basis: 50%;
		}
	}
	&--reviews {
		&--title {
			display: flex;
			align-items: center;
		}
		&--av-text {
			font-size: 1.4rem;
			font-weight: 500;
		}
	}
	&--similar {
		&--list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 1rem;
		}
	}
}
